<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>

<body>
    <a href="/">&larr; Go Home</a>

    <ul>
        <li>
            <a href="/nav/home">Home</a>
        </li>
        <li>
            <a href="/nav/about">About</a>
        </li>
        <li>
            <a href="/nav/contact">Contact</a>
        </li>
    </ul>
    <h2>This Is Index</h2>

</body>

</html>