{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 mt-4">
        <div class="col-span-5">
            <div class="flex justify-center" >
                <img style="max-width:100%" class="object-cover" src="{{MEDIA_URL}}{{data.image}}" alt="">
            </div>
        </div>
        <div class="col-span-6 col-start-6">
            <h3 class="font-semibold text-xl" >{{data.title}}</h3>
            <h4 class="font-medium text-lg mt-2 mb-2" > Price:  {{data.price}}</h4>
            <h5 class="font-medium text-lg mb-2" >
                Quantity:
                {{data.quantity}}</h5>


                <p class="mb-3 mt-2">
                    Genre: 
                    {% for genre in data.genres.all %}
                    <span
                      class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 px-1"
                      >{{genre}}</span
                    >
      
                    {% endfor %}
                  </p>


            <p>
                <strong>Description:</strong>
                {{data.description}}</p>
           
            <br>

            {% if data.quantity > 0 %}
            {% if user.is_authenticated %}
                <button class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 py-2" >
                    <a href="{% url "single-product" data.id %}?borrow={{data.id}}">
                       Borrow Book
                    </a>
                </button>
                {% endif %}
            {% else %}
                <button disabled >Stock Out</button>
            {% endif %}
            
        </div>
    </div>

    {% if reviews.count > 0  %}
    <div class="grid grid-cols-12 mt-4">
        <div class="col-span-6 col-start-4 mt-5">
            <h3 class="font-semibold text-lg" >Reviews</h3>
            {% for review in reviews %}
                <div style="margin-bottom: 1rem" >
                    <span style="font-size: .7rem; margin-bottom: -0.2rem;display:block;" >{{review.created_at}}</span>
                    <p class="mb-2 mt-1" >
                        <span class="mb-0 fw-bold" > <span class="bg-yellow-400 inline-block px-2 leading-none py-1 rounded" >{{review.rate}} ★</span> {{review.name}} - </span>
                        <span>{{review.comment}}</span>
                    </p>
                 
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

  

    <div class="grid grid-cols-12 ">
        {% if has_taken %}
        <div class="col-span-6 col-start-4 mb-5 mt-4 border rounded px-5 py-5 w-full">
            <h3 class="font-semibold mb-2" >Add Review</h3>
            <form method="post">
                {% csrf_token %}
                {{review_form | crispy}}

                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 py-2 ">Submit Review</button>
            </form>
        </div>
        {% else %}
        <div class="col-span-6 col-start-4 mt-4">
            <h3 class="font-semibold mb-2 text-center text-xl" >To Review You have to borrow first</h3>
        </div>
        {% endif %}
        
    </div>


</div>



{% endblock content %}